<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Details</title>
</head>
<body>
  <ul>
      <li><h3>Name: {{single_hero.name}}</h3></li>
      <li><h3>Alter Ego: {{single_hero.alter_ego}}</h3></li>
      <li><h3>Primary Ability: {{single_hero.primary_ability}}</h3></li>
      <li><h3>Secondary Ability: {{single_hero.secondary_ability}}</h3></li>
      <li><h3>Catchphrase: "{{single_hero.catch_phrase}}"</h3></li>


  </ul>
  
</body>
</html>